body,
html{
	width: 100%;
	height: 100%;
}
body{
	background-image: url("img10.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-image: cover;

}


hr{
	max-width: 180px;
	border-width:3px;
	margin-top: 270px;
	margin-bottom: 10px;
	border-color: #ff5216;
}

.faded{
	color: #ff5216;
}
header .startup{
	background-position: center;
	
	background-image: url("img10.jpg");
	padding: 500px;
	margin-top:400px;
	margin-bottom: 30px;
	background-color: red;
}
header .startup h1{
	color: red;
	font-size: 300px;
	border-width: 100px;
	

}
.btn {
	color: #ff3303;
 	font-weight: 700;
 	text-transform: uppercase;
 	border-radius: 300;
 	cursor: pointer;
 	
 }
 .btn-outline-danger{
 	color:#FF5216;
 }
 .btn-outline-danger:hover{
 	background-color: #ff5216;
 }
